body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#chat-container {
    width: 50%;
    margin: auto;
    padding: 10px;
}

#chat-box {
    height: 600px;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.my-message {
    background-color: #add8e6;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    text-align: left; /* Căn trái */
}

.other-message {
    background-color: #ffcccb; /* Màu hồng cho tin nhắn của đối phương */
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    text-align: left; /* Căn phải */
}
